.main-home-banner {
  margin-top: 54px;
  @media only screen and (max-width: 576px) {
    margin-top: 88px;
  }
  img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
  }
}
.main-home-container {
  min-height: calc(100vh - 588px);
  padding: 20px 16px;
  @media only screen and (max-width: 576px) {
    padding: 20px 0;
    &.container-fluid {
      padding: 0;
    }
  }
}
.main-home-card {
  @media only screen and (max-width: 576px) {
    border-radius: unset!important;
    border:unset!important

  }
  .main-home-card-header {
    background-color: #4ab19d !important;
    padding: 0 !important;
    height: 50px;
    @media only screen and (max-width: 576px) {
      border-radius: unset!important
  
    }
    .main-home-card-header-category {
      .col-3 {
        padding: 0 !important;
      }
      .main-home-card-header-category-button {
        height: 50px;
        border-radius: 0;
        font-weight: 700;
        @media only screen and (max-width: 576px) {
          font-size: 14px;
          font-weight: 500;
        }
        @media only screen and (max-width: 328px) {
          font-size: 12px;
          font-weight: 300;
        }
        &.active {
          background: #efc958 !important;
        }
        &:focus {
          background: #efc958;
          box-shadow: unset !important;
        }
      }
      :first-child {
        padding-left: 15px !important;
        .main-home-card-header-category-button {
          border-radius: calc(0.25rem - 1px) 0 0 0;
          @media only screen and (max-width: 576px) {
            border-radius: unset
  
          }
        }
      }
      :last-child {
        padding-right: 15px !important;
        .main-home-card-header-category-button {
          border-radius: 0 calc(0.25rem - 1px) 0 0;
          @media only screen and (max-width: 576px) {
            border-radius: unsetS
  
          }
        }
      }
    }
  }
}
